.zzz-o-avatar {
  padding: px2rem(20px) px2rem(38px);
  background: $white;
  box-shadow: px2rem(3px) px2rem(4px) px2rem(12px) px2rem(1px) rgba(0, 0, 0, 0.25);
  border-radius: px2rem(5px);

  &__image {
    margin: 0 auto;
    width: px2rem(175px);
    height: px2rem(175px);
    border: px2rem(1px) solid $black;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
