// For: Geta.Optimizely.ContentTypeIcons
.Sleek {
  .epi-content-area-editor {
    span.dijitTreeIcon.epi-objectIcon.fa.fa-fw[data-dojo-attach-point='iconNode'][role='presentation'] {
      display: inline-flex;
      margin-right: 8px;
      align-items: center;
      justify-content: center;

      &::before {
        font-size: 18px;
      }
    }
  }
}
