@use '../../assets/styles/00-abstracts/abstracts' as *;
@use '../../assets/styles/01-mixins/mixins' as *;

.Form__Element {
  &.FormTextbox {
    display: flex;
    gap: px2rem(16px);
    flex-direction: column;
    align-items: flex-start;

    label {
      @include font-label;

      & {
        font-weight: $regular;
      }
    }

    input[type='text'] {
      height: px2rem(38px);
      width: 100%;
    }

    textarea {
      min-height: px2rem(75px);
    }

    input,
    textarea {
      @include font-label;
      & {
        color: $primary;
        font-weight: $regular;
        width: 100%;
        background-color: rgb($primary, 0.05);
        border: px2rem(1px) solid $primary;
        border-radius: px2rem(5px);
      }
    }

    .Form__Element__ValidationError {
      color: $red;
    }
  }
}
