ul#epi-quickNavigator {
  a,
  span,
  li.epi-quickNavigator-dropdown > ul#epi-quickNavigator-menu > li > a {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
  }

  > li.epi-quickNavigator-editLink {
    > a {
      display: flex !important;
      align-items: center !important;
      gap: 4px !important;
    }
  }

  > li.epi-quickNavigator-dropdown {
    > ul#epi-quickNavigator-menu {
      padding: 0 !important;
      border: 1px solid #ccc !important;

      > li {
        &:not(:first-child) {
          border-top: 1px solid #e0e0e0 !important;
        }

        > a {
          padding: 12px 20px !important;
        }
      }
    }
  }
}
