:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  @include font-body;
  background-color: $primary-bg;
}

main {
  flex-grow: 1;
}

.zzz-container {
  margin-left: auto;
  margin-right: auto;
  max-width: min(px2rem(1200px), 80vw);
  width: 100%;
}

.section-margin-top {
  margin-top: px2rem(40px);
}

.section-margin-top-xl {
  margin-top: px2rem(80px);
}
