@use '../01-mixins/mixins' as *;

:root,
[data-theme='light'] {
  --white: #fff;
  --black: #000;
  --green: #0b5b33;
  --wave-white: #d2dde4;
  --wave-black: #3c3f41;
  --grey: #212529bf;
  --red: #ff0000;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;

  --primary: var(--black);
  --primary-rgb: var(--black-rgb);
  --primary-bg-rgb: var(--white-rgb);
  --primary-bg: var(--white);
  --secondary: var(--white);
  --secondary-bg: var(--green);
  --subtitle: var(--green);

  // Button color
  --btn-primary-color: var(--white);
  --btn-primary-bg: var(--black);
  --btn-secondary-color: var(--black);
  --btn-secondary-bg: var(--white);
}

[data-theme='dark'] {
  --green: #021f10;
  --primary-bg: #212529;
  --primary-bg-rgb: 33, 37, 41;
  --primary: #fff;
  --primary-rgb: 255, 255, 255;
  --subtitle: #17d372;
  --grey: #17d372;
  --red: #c60101;
}

.zzz-o-header__theme-toggle {
  padding: px2rem(10px) px2rem(20px);

  @include tablet {
    padding: 0;
  }

  a {
    display: block;
    padding: 0;
    position: relative;
  }

  .zzz-a-icon {
    cursor: pointer;

    &:nth-child(1) {
      display: none;

      @include dark {
        display: block;
      }
    }

    &:nth-child(2) {
      display: block;

      @include dark {
        display: none;
      }
    }
  }
}
