@model PreciseAlloy.Models.Blocks.Footer.StandardFooterViewModel

@{
    // Styles
    Html.RequireStyle("/assets/css/b-footer.css").AtHeader();

    // Icons
    var iconPath = Html.GetCacheBusterPath("/assets/images/icons.svg");
}

<footer class="zzz-o-footer section-margin-top-xl">
    <div class="zzz-container">
        <div class="zzz-o-footer__inner">
            <ul class="zzz-m-link-list-with-icon">
                @if (Model.SocialLinks != null)
                {
                    foreach (var socialLink in Model.SocialLinks)
                    {
                        <li>
                            <a class="zzz-a-link-with-icon"
                               href="@socialLink.Url?.ToString()"
                               aria-label="@socialLink.AlternativeText">
                                <svg class="zzz-a-icon zzz-a-icon--md" aria-hidden="true" viewBox="0 0 19 19" width="19" height="19">
                                    <use xlink:href="@iconPath#@socialLink.Icon"></use>
                                </svg>
                            </a>
                        </li>
                    }
                }
            </ul>
            <div class="zzz-o-footer__copyright">
                <p>@Model.CopyrightText</p>
            </div>
        </div>
    </div>
</footer>
