.zzz-o-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: px2rem(21px);

  .zzz-a-text-input {
    margin-bottom: px2rem(20px);
  }

  .zzz-a-textarea {
    margin-bottom: px2rem(20px);
  }

  .zzz-m-section-header {
    margin-bottom: px2rem(20px);
  }
}
