$-white: #fff;
$-wave-25: #e9eef1;
$-wave-50: #d2dde4;
$-light-grey: #979797;
$-pebble: #e9e4e0;
$-pearl: #f7f4f3;
$-sand: #d4ccc7;
$-rock: #aaa093;
$-lava: #434342;
$-blue: #015174;
$-beam: #f8c276;

:root {
  --pl-state-bubble-bg: #f30;
  --navbar-max-width: px2rem(240px);
}

.xpack-o-root {
  height: min-content;
  display: flex;
  flex-direction: row;
  gap: px2rem(1px);
  overflow: hidden auto;
  border-right: px2rem(1px) solid #ddd;
  background-color: $-white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.1);
  box-shadow: 0 px2rem(3px) px2rem(2px) px2rem(-2px) $-light-grey;
  line-height: 1.5;

  @include tablet {
    width: unset;
    flex-direction: column;
    height: 100vh;
    --navbar-max-width: 100%;
    position: relative;
    width: 100%;
    background-color: unset;
    box-shadow: unset;
  }

  &__title {
    display: flex;
    align-items: center;

    @include tablet {
      display: none;
    }
  }

  &__button-close,
  &__button-setting {
    width: px2rem(30px);
    height: px2rem(30px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: $black;

    svg.xpack-o-root__control-svg {
      height: px2rem(28px);
      width: px2rem(28px);
    }

    &:hover {
      background-color: $-pebble;
      transform: scale(1.05);
    }

    @include tablet {
      display: none;
    }
  }

  &__button-setting {
    padding: px2rem(2px);
  }

  &__nav-items {
    flex-grow: 1;
    border-bottom: px2rem(1px) solid #ccc;
    position: fixed;
    top: px2rem(35px);
    left: 0;
    height: calc(100vh - px2rem(160px));
    max-width: var(--navbar-max-width);
    transform: translateX(-100%);
    transition: all 0.3s ease;
    background-color: $-white;

    &.show {
      display: block;
      box-shadow: 0 px2rem(2px) px2rem(4px) #a6a6a6;
      transform: translateX(0);
      transition: transform 0.2s ease-out;
    }

    @include tablet {
      position: relative;
      top: 0;
      display: block;
      padding-bottom: px2rem(8px);
      transform: translateX(0);
    }
  }

  &__items {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - px2rem(42px));
  }

  &__search {
    padding: px2rem(8px) px2rem(16px);
    background-color: $-pearl;
    border: px2rem(1px) solid $-sand;

    input {
      width: 100%;
    }
  }

  &__nav-message {
    padding: px2rem(8px) px2rem(16px);
    font-weight: 700;
  }

  &__search-matches {
    background-color: $-pearl;
    border-bottom: px2rem(2px) solid $-rock;
    > * {
      font-weight: 700;

      &:nth-child(n-1) {
        border-bottom: px2rem(1px) $black solid;
      }
    }
  }

  &__search-not-matches {
    &.blur {
      opacity: 0.5;
    }
  }

  &__nav-item {
    padding: px2rem(4px) px2rem(8px) px2rem(4px) px2rem(16px);
    display: block;
    background-color: $-white;
    color: $-lava;
    font-size: px2rem(13px);
    font-family: Arial, Helvetica, sans-serif;

    &--active {
      background-color: $-wave-50;
      color: $-blue;
    }

    &:hover {
      background-color: $-beam;
    }

    &.panel-position {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__frame-control {
    display: block;
    max-width: var(--navbar-max-width);
    margin-left: auto;

    @include tablet {
      margin-left: unset;
    }
  }

  &__active-item-options {
    display: block;
    max-width: var(--navbar-max-width);
    position: fixed;
    top: px2rem(31px);
    right: 0;
    padding: px2rem(20px) 0;
    transform: translateX(100%);
    transition: all 0.3s ease;

    &.show {
      display: block;
      box-shadow: 0 px2rem(2px) px2rem(4px) #a6a6a6;
      transform: translateX(0);
      transition: transform 0.2s ease-out;
    }

    @include tablet {
      display: block;
      position: relative;
      transform: translateX(0);
      top: 0;
    }
  }

  &__actual-width {
    margin-top: px2rem(4px);
    margin-right: px2rem(10px);
    text-align: center;
    font-size: px2rem(13px);

    @include tablet {
      margin-top: px2rem(8px);
    }
  }

  &__controls {
    margin-top: px2rem(10px);
    text-align: center;
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__control-button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: $-blue;
    }
  }

  &__control-svg {
    width: px2rem(18px);
    height: px2rem(18px);
    fill: currentColor;
  }
}

.top-panel {
  &.xpack-o-root {
    @include tablet {
      --navbar-max-width: px2rem(240px);
      width: 100%;
      flex-direction: row;
      height: min-content;
      position: relative;
      background-color: rgb(0, 0, 0, 0.1);
      box-shadow: 0 px2rem(3px) px2rem(2px) px2rem(-2px) $-light-grey;
    }
  }

  .xpack-o-root {
    &__nav-items {
      height: calc(100vh - px2rem(35px));

      @include tablet {
        position: fixed;
        top: px2rem(35px);
        display: block;
        padding-bottom: px2rem(8px);
        transform: translateX(-100%);
      }

      &.show {
        display: block;
        box-shadow: 0 px2rem(2px) px2rem(4px) #a6a6a6;
        transform: translateX(0);
        transition: transform 0.2s ease-out;
      }
    }

    &__title {
      display: flex;
    }

    &__button-close,
    &__button-setting {
      @include tablet {
        display: flex;
      }
    }

    &__frame-control {
      @include tablet {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
      }
    }

    &__active-item-options {
      @include tablet {
        display: block;
        position: fixed;
        transform: translateX(100%);
        top: px2rem(31px);
      }

      &.show {
        display: block;
        box-shadow: 0 px2rem(2px) px2rem(4px) #a6a6a6;
        transform: translateX(0);
        transition: transform 0.2s ease-out;
      }
    }

    &__actual-width {
      @include tablet {
        margin-top: px2rem(4px);
      }
    }

    &__controls {
      @include tablet {
        display: block;
      }
    }
  }
}

$-time-ratio: 0.5;
$-size-ratio: 0.5;
$-begin-offset: -200px;
$-end-offset: -500px;

.pl-state-toggle {
  position: relative;

  &__circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__circle {
    position: absolute;
    display: block;
    width: calc(20px * #{$-size-ratio});
    height: calc(20px * #{$-size-ratio});
    background: var(--pl-state-bubble-bg);
    animation: bubbleAnimate calc(25s * #{$-time-ratio}) linear infinite;
    bottom: $-begin-offset;

    &.no-animation {
      animation-play-state: paused;
    }

    &:nth-child(1) {
      left: 25%;
      width: calc(80px * #{$-size-ratio});
      height: calc(80px * #{$-size-ratio});
      animation-delay: calc(0s * #{$-time-ratio});
    }

    &:nth-child(2) {
      left: 10%;
      width: calc(20px * #{$-size-ratio});
      height: calc(20px * #{$-size-ratio});
      animation-delay: calc(2s * #{$-time-ratio});
      animation-duration: calc(12s * #{$-time-ratio});
    }

    &:nth-child(3) {
      left: 70%;
      width: calc(20px * #{$-size-ratio});
      height: calc(20px * #{$-size-ratio});
      animation-delay: calc(4s * #{$-time-ratio});
    }

    &:nth-child(4) {
      left: 40%;
      width: calc(60px * #{$-size-ratio});
      height: calc(60px * #{$-size-ratio});
      animation-delay: calc(0s * #{$-time-ratio});
      animation-duration: calc(18s * #{$-time-ratio});
    }

    &:nth-child(5) {
      left: 65%;
      width: calc(20px * #{$-size-ratio});
      height: calc(20px * #{$-size-ratio});
      animation-delay: calc(0s * #{$-time-ratio});
    }

    &:nth-child(6) {
      left: 75%;
      width: calc(110px * #{$-size-ratio});
      height: calc(110px * #{$-size-ratio});
      animation-delay: calc(3s * #{$-time-ratio});
    }

    &:nth-child(7) {
      left: 35%;
      width: calc(150px * #{$-size-ratio});
      height: calc(150px * #{$-size-ratio});
      animation-delay: calc(7s * #{$-time-ratio});
    }

    &:nth-child(8) {
      left: 50%;
      width: calc(25px * #{$-size-ratio});
      height: calc(25px * #{$-size-ratio});
      animation-delay: calc(15s * #{$-time-ratio});
      animation-duration: calc(45s * #{$-time-ratio});
    }

    &:nth-child(9) {
      left: 20%;
      width: calc(15px * #{$-size-ratio});
      height: calc(15px * #{$-size-ratio});
      animation-delay: calc(2s * #{$-time-ratio});
      animation-duration: calc(35s * #{$-time-ratio});
    }

    &:nth-child(10) {
      left: 85%;
      width: calc(150px * #{$-size-ratio});
      height: calc(150px * #{$-size-ratio});
      animation-delay: calc(0s * #{$-time-ratio});
      animation-duration: calc(11s * #{$-time-ratio});
    }
  }
}

@keyframes bubbleAnimate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY($-end-offset) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
