.zzz-o-partner {
  text-align: center;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: px2rem(30px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: px2rem(10px);
  }

  &__label {
    @include font-label;

    color: $green;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: px2rem(30px);
    align-items: center;

    @include tablet {
      gap: px2rem(20px);
    }

    @include desktop {
      gap: px2rem(10px);
    }

    .zzz-a-picture {
      justify-self: center;
      align-self: center;
    }
  }
}
