@use '../../assets/styles/00-abstracts/abstracts' as *;
@use '../../assets/styles/01-mixins/mixins' as *;

.zzz-m-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px2rem(10px);

  .zzz-a-icon {
    color: $subtitle;
  }
}
