$-white: #fff;
$-rock: #aaa093;
$-wave-50: #d2dde4;
$-beam: #f8c276;
$-blue: #015174;
$-lava: #434342;
$-sand: #d4ccc7;

.pl-state {
  position: absolute !important;
  top: px2rem(8px) !important;
  right: px2rem(8px) !important;
  display: block !important;
  height: auto !important;
  max-height: none !important;
  width: auto !important;
  max-width: none !important;

  &__button {
    cursor: pointer;
    border: px2rem(1px) solid $-rock;
    width: px2rem(40px);
    height: px2rem(40px);
    border-radius: 50%;
    background-color: $-wave-50;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $-beam;
    }

    &.active {
      animation-name: activeStateButton;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  @keyframes activeStateButton {
    0% {
      background-color: $-white;
      transform: rotate(0deg);
      box-shadow: 0px 0px px2rem(16px) px2rem(8px) rgba($black, 0.15);
    }
    40% {
      background-color: $-beam;
      box-shadow: 0px 0px px2rem(16px) px2rem(8px) rgba($-white, 0.8);
      box-shadow: none;
    }
    60% {
      background-color: $-beam;
      box-shadow: 0px 0px px2rem(16px) px2rem(8px) rgba($-white, 0.8);
      box-shadow: none;
    }
    100% {
      background-color: $-white;
      transform: rotate(360deg);
      box-shadow: 0px 0px px2rem(16px) px2rem(8px) rgba($black, 0.15);
    }
  }

  &--top-left {
    left: px2rem(8px) !important;
    right: auto !important;
  }

  &--top-center {
    left: 50% !important;
    right: auto !important;

    & > * {
      position: relative;
      left: -50%;
    }
  }

  &--top-right {
    left: auto !important;
    right: px2rem(8px) !important;
  }

  &--bottom-left {
    left: px2rem(8px) !important;
    right: auto !important;
    top: auto !important;
    bottom: px2rem(8px) !important;
  }

  &--bottom-right {
    left: auto !important;
    right: px2rem(8px) !important;
    top: auto !important;
    bottom: px2rem(8px) !important;
  }
}

.pl-state-bar {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $-blue;
  color: $-white;
  display: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  box-shadow: 0px 0px px2rem(16px) px2rem(8px) rgba($black, 0.2);
  max-height: 100%;

  @include tablet {
    grid-template-columns: 1fr auto;
  }

  &.expand {
    opacity: 1;
    display: grid;
  }

  &__content {
    padding: 0 px2rem(8px) px2rem(16px) px2rem(8px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: px2rem(10px);
    gap: px2rem(10px);

    @include tablet {
      grid-gap: px2rem(20px);
      gap: px2rem(20px);
      display: flex;
    }

    .pl-state-bar__buttons {
      display: flex;

      @include tablet {
        display: none;
      }
    }
  }

  &__group {
    align-self: flex-end;
    position: relative;
    font-size: px2rem(13.33px);
  }

  &__select {
    width: 100%;
  }

  &__group-header {
    position: relative;
    cursor: pointer;
    background-color: $-white;
    font-size: px2rem(13.33px);
    color: $-lava;
    padding: 0 px2rem(25px) 0 px2rem(5px);
    border: 1px solid rgb(118, 118, 118);
    min-width: px2rem(60px);

    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%227%22%20viewBox%3D%220%200%2013%207%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22m12.12%201.413-1.109-1.3L6.59%204.208%202.07.148.89%201.377%206.523%206.6z%22%20fill%3D%22grey%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E');
    background-size: px2rem(11px) px2rem(11px);
    background-repeat: no-repeat;
    background-position: right px2rem(5px) center;

    &:hover {
      background-color: $-beam !important;
    }
  }

  &__checkbox-group {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    background-color: $-sand;
    width: px2rem(160px);
    min-width: 100%;
    border: 1px solid rgb(118, 118, 118);
    display: none;
    grid-gap: px2rem(1px);
    gap: px2rem(1px);
    z-index: 10;
    box-shadow: 0px 0px px2rem(16px) px2rem(8px) rgba($black, 0.2);

    &.expand {
      display: grid;
    }
  }

  &__hidden-radio,
  &__hidden-checkbox {
    display: none !important;

    &:checked + label.pl-state-bar__label {
      background-color: $-wave-50;

      > span {
        &::before {
          content: '✓';
          display: block;
          position: absolute;
          left: -(px2rem(15px));
          font-weight: $bold;
        }
      }
    }
  }

  &__label {
    font-size: px2rem(13.33px);
    padding: px2rem(5px) px2rem(5px) px2rem(5px) px2rem(20px);
    display: block;
    cursor: pointer;
    background-color: $-white;
    color: $-lava;

    &:hover {
      background-color: $-beam !important;
    }

    > span {
      position: relative;
    }
  }

  &__buttons {
    justify-self: flex-end;
    align-self: flex-start;
    align-items: center;
    display: none;

    @include tablet {
      margin-right: px2rem(16px);
      display: flex;
      grid-column: 2 / 2;
    }
  }

  &__close-button {
    background-color: rgba($-white, 0.9) !important;
    cursor: pointer;
    color: $-lava;
    padding: px2rem(8px);

    &:hover {
      background-color: $-white !important;
    }
  }
}
