@model PreciseAlloy.Models.Layout.MetaData

@{
    void RenderMetaTag(string property, string? content)
    {
        if (string.IsNullOrWhiteSpace(content))
        {
            return;
        }

        <meta property="@property" content="@content" />
    }
}

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Model.BrowserTitle</title>
<link rel="icon" href="~/favicon.svg" type="image/svg+xml"/>
<link rel="manifest" href="~/site.webmanifest">

@{
    RenderMetaTag("keywords", Model.MetaKeywords);
    RenderMetaTag("robots", Model.MetaRobots);
    RenderMetaTag("twitter:card", null);
    RenderMetaTag("twitter:title", Model.PageTitle);
    RenderMetaTag("twitter:site", Model.TwitterAlias);
    RenderMetaTag("twitter:creator", Model.TwitterAlias);
    RenderMetaTag("og:title", Model.PageTitle);
    RenderMetaTag("og:type", "website");
    RenderMetaTag("og:url", Model.AbsoluteUrl);
    RenderMetaTag("og:description", Model.MetaDescription);
    RenderMetaTag("og:site_name", Model.PageTitle);
    RenderMetaTag("og:locale", Model.OpenGraphLocale);
    RenderMetaTag("description", Model.MetaDescription);
}

<link rel="canonical" href="@Model.CanonicalUrl" />
<link rel="shortcut icon" href="/assets/images/favicon@2x.png">
<link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-precomposed.png">
<link rel="icon" href="/assets/images/apple-touch-icon-precomposed.png">