@use '../../assets/styles/00-abstracts/abstracts' as *;
@use '../../assets/styles/01-mixins/mixins' as *;

.zzz-o-people {
  text-align: center;
  color: $primary;

  &__content {
    margin: 0 auto;
    max-width: px2rem(386px);
  }

  &__sub-header {
    @include font-label;

    & {
      margin-bottom: px2rem(16px);
      text-transform: uppercase;
      color: $subtitle;
    }
  }

  &__header {
    margin-bottom: px2rem(16px);
  }

  &__text {
    margin-bottom: px2rem(45px);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: px2rem(47px);
    margin-bottom: px2rem(45px);
  }
}
