.zzz-o-people {
  text-align: center;

  &__sub-header {
    @include font-label;
    text-transform: uppercase;
    color: $green;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
