.zzz-o-footer {
  background-color: $green;
  color: $white;
  padding: px2rem(40px);

  &__copyright {
    @include font-sub-heading;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: px2rem(20px);
    align-items: center;
    text-align: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
