.zzz-footer {
  margin-top: auto;
  background-color: $green;
  color: $white;

  &__container {
    padding: px2rem(32px) 0;
    display: flex;
    justify-content: space-between;
  }

  &__social-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    list-style-type: none;

    > li {
      display: inline;

      > a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
