@use '../../assets/styles/00-abstracts/abstracts' as *;
@use '../../assets/styles/01-mixins/mixins' as *;

.zzz-o-teaser {
  --order: inherit;
  position: relative;
  color: $primary;

  &__inner {
    display: grid;
    gap: px2rem(30px);
    align-items: center;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    display: grid;
    gap: px2rem(10px);
    order: 2;

    @include tablet {
      order: var(--order);
    }
  }

  &__button {
    margin-top: px2rem(10px);
  }

  &--image-left {
    --order: 2;
  }
}
