$body-color: var(--body-color);
$body-strong-color: var(--body-strong-color);
$body-color-rgb: var(--body-color-rgb);
$body-bg: var(--body-bg);
$body-bg-rgb: var(--body-bg-rgb);
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);
$border-color: var(--border-color);
$black: var(--black);

// scrollbar
$scrollbar-track-bg: var(--scrollbar-track-bg);
$scrollbar-thumb-bg: var(--scrollbar-thumb-bg);
$scrollbar-thumb-hover-bg: var(--scrollbar-thumb-hover-bg);

@mixin light {
  [data-theme='dark'] & {
    @content;
  }
}

@mixin dark {
  [data-theme='dark'] & {
    @content;
  }
}
