@model PreciseAlloy.Web.Features.Blocks.Partners.PartnersBlockViewModel

<div class="zzz-o-partner section-margin-top">
    <div class="zzz-container">
        <div class="zzz-o-partner__inner">
            <div class="zzz-o-partner__content">
                <div class="zzz-o-partner__label">PARTNERS</div>
                <div class="zzz-m-section-header">
                    <h2 class="zzz-m-section-header__heading h1">Lorem Ipsum Dolor</h2>
                </div>
                <div class="zzz-o-partner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, porro?</div>
            </div>
            <div class="zzz-o-partner__images">
                <picture class="zzz-a-picture">
                    <img src="/samples/Google.svg?v=14b4dd30"
                         alt="partner 1"
                         loading="lazy"
                         width="153"
                         height="50">
                </picture>
                <picture class="zzz-a-picture">
                    <img src="/samples/Microsoft.svg?v=2bfec2ef"
                         alt="partner 2"
                         loading="lazy"
                         width="212"
                         height="46">
                </picture>
                <picture class="zzz-a-picture">
                    <img src="/samples/Airbnb.svg?v=dcaf2b14"
                         alt="partner 3"
                         loading="lazy"
                         width="161"
                         height="50">
                </picture>
                <picture class="zzz-a-picture">
                    <img src="/samples/Facebook.svg?v=5c5b8190"
                         alt="partner 4"
                         loading="lazy"
                         width="198"
                         height="38">
                </picture>
                <picture class="zzz-a-picture">
                    <img src="/samples/Spotify.svg?v=14cf3dc1"
                         alt="partner 5"
                         loading="lazy"
                         width="167"
                         height="50">
                </picture>
            </div>
            <div class="zzz-o-partner__button">
                <a href="https://www.twitter.com/"
                   class="zzz-a-button zzz-a-button--btn zzz-a-button--btn-black"
                   target="_blank">Learn More</a>
            </div>
        </div>
    </div>
    <link rel="stylesheet preload"
          href="/assets/css/b-partner.css?v=9078c939"
          data-pl-require="true"
          as="style">
</div>

@{
    Html.RequireStyle("/assets/css/b-partner.css").AtFooter();
}