@mixin zzz-button {
  &--btn {
    --button-color: #{$black};
    --bg-color: #{$white};
    --padding: #{px2rem(10px)} #{px2rem(40px)};
    --border-radius: #{px2rem(8px)};

    @include font-sub-heading;

    color: var(--button-color);
    background-color: var(--bg-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
  }

  &--btn-black {
    --button-color: #{$white};
    --bg-color: #{$black};
  }
}
