@{
    Layout = "_AdminLayout";
}

<section class="zzz-container">
    <h1>Hi there!</h1>
    <p>Edit this page at <code>PreciseAlloy.Web/Features/Plugins/ExtendedAdmin/ExtendedAdminController.cs</code></p>
</section>