<footer class="zzz-o-footer">
    <div class="zzz-o-footer__container zzz-container">
        <ul class="zzz-o-footer__social-list">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
        <div class="zzz-o-footer__copyright">
            <p>© Start, 2022. All rights reserved.</p>
        </div>
    </div>
</footer>
@{
    Html.RequireStyle("/assets/css/b-footer.css").AtHeader();
}