@model PreciseAlloy.Models.Pages.NotFound.NotFoundPageViewModel

<section class="section-margin-top-xl">
    <div class="zzz-container">
        @Html.PropertyFor(m => m.CurrentContent.MainContentArea)
    </div>
</section>