.zzz-o-hero {
  min-height: px2rem(300px);
  background-color: $green;
  color: $white;
  padding: px2rem(40px) 0;

  &__inner {
    display: grid;
    gap: px2rem(30px) px2rem(20px);
    align-items: center;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    display: grid;
    gap: px2rem(10px);
    order: 2;

    @include tablet {
      order: inherit;
    }
  }

  &__label {
    @include font-label;
  }

  &__description {
    color: rgba($white, 0.75);
  }

  &__button {
    margin-top: px2rem(20px);
  }
}
